.wrapper {
  margin: 0 auto;
  background: #000;
}

.picture {
  max-width: 1920px;
  height: 600px;
  position: relative;
  background: lightblue;
}

.house__box {
  height: 200px;
  width: 300px;
  background: url(../assets/images/blocks.jfif);
  aspect-ratio: 3 / 2;
  position: absolute;
  margin-left: 600px;
  margin-top: 400px;
}

.box2 {
  margin-left: 600px;
  margin-top: 200px;
}

.house__window {
  position: absolute;
  margin-left: 760px;
  margin-top: 450px;
  width: 100px;
  height: 80px;
  border-radius: 50%/10%;
  background: lightblue;
}

.house__window:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5%/50%;
}

.house__windowdevider {
  position: absolute;
  margin-left: 810px;
  margin-top: 450px;
  width: 4px;
  height: 80px;
  background-color: #000;
}

.house__windowdevider:before {
  content: "";
  position: absolute;
  width: 55px;
  height: 4px;
  margin-top: 40px;
  background-color: #000;
}

.house__door {
  position: absolute;
  margin-left: 630px;
  margin-top: 450px;
  width: 80px;
  height: 130px;
  background: lightgray;
}

.house__doorbell {
  position: absolute;
  margin-left: 663px;
  margin-top: 450px;
  width: 0; 
  height: 0; 
  border-width: 10px 10px 10px;
  border-style: solid;
  border-color: red #E95557 transparent;
}

.house__doorin {
  position: absolute;
  margin-left: 690px;
  margin-top: 510px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}

.house__roofleft {
  position: absolute;
  margin-left: 600px;
  height: 0;
  width: 0;
  top: 200px;
  border-top: 200px solid lightblue;
  border-left: 0px solid transparent;
  border-right: 150px solid transparent;
}

.house__roofright {
  position: absolute;
  top: 200px;
  margin-left: 750px;
  height: 0;
  width: 0;
  border-top: 200px solid lightblue;
  border-right: 0px solid transparent;
  border-left: 150px solid transparent;
}

.grass {
  background: url(../assets/images/grass.jpeg);
  max-width: 1920px;
  min-width: 1536px;
  height: 40px;
  position: absolute;
  margin-top: 600px;
}

.cloud {
  position: absolute;
  margin-left: 300px;
  width: 3em; 
  height: 3em; 
  margin: 2em;
  background: #D5DEE9;
  border-width: 0.25em;
  border-style: solid;
  border-color: #6E839E;
  border-radius: 50% 50% 0 0;
  }
  .cloud:before, 
  .cloud:after {
  content: "";
  position: absolute; 
  bottom: -0.25em;
  background: inherit;
  border-width: 0.25em;
  border-style: solid;
  border-color: #6E839E;
  }
  .cloud:before {
  left: 80%; 
  width: 60%; 
  height: 60%;
  border-left: none;
  border-radius: 50% 50% 50% 0;
  }
  .cloud:after {
  right: 80%;
  width: 80%; 
  height: 80%;
  border-right: none;
  border-radius: 50% 50% 0;
  }

.cloud2{
  margin-left: 800px;
}

.rainbow {
  position: absolute;
  width: 800px;
  height: 450px;
  margin-left: -400px;
  margin-top: 150px;
  background: radial-gradient(
      ellipse at 50% 100%,
      rgba(255, 255, 255, 0) 30%,
      #5630C3 30%,
      #5630C3,
      #0225F3,
      #2AC3FC,
      #41C903,
      #FEF506,
      #FE9307,
      #FE080D 70%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0)
  );
}

.sun {
  position: absolute;
  left: 1000px;
  top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #FEF506;
  z-index: 2;
}

.sun:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 4px;
  margin-left: 130px;
  transform: rotate(45deg);
  background-color: #FEF506;
}

.sun:after {
  content: "";
  position: absolute;
  height: 200px;
  width: 4px;
  margin-left: 75px;
  margin-top: -25px;
  transform: rotate(135deg);
  background-color: #FEF506;
}

.sun:before {
  content: "";
  position: absolute;
  height: 200px;
  width: 4px;
  margin-left: 75px;
  margin-top: -25px;
  transform: rotate(45deg);
  background-color: #FEF506;
}

.three {
  position: absolute;
  left: 1200px;
  top: 400px;
  height: 200px;
  width: 20px;
  background-color: burlywood;
}

.three:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -50px;
  top: -15px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid green;
}

.three:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -80px;
  top: 60px;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 100px solid green;
}
