
.btn {
  width: 200px;
  height: 60px;
  background-color: #D6680F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #fff;
  text-transform: capitalize;
}

nav {
  display: flex;
}


.entire__boldtext {
  width: 261px;
}
