@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&display=swap');
:root {
  --font-color: white;
}

.list__item>a {
  font-family:'Raleway';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--font-color);
  text-decoration: none;
  text-transform: uppercase;
}

.h2__bigger {
  font-family: 'Kaushan Script', cursive;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 93px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--font-color);
  text-transform: capitalize;
}

h1 {
  font-family: 'Montserrat';
  font-size: 144px;
  font-style: normal;
  font-weight: 700;
  line-height: 176px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--font-color);
  text-transform: uppercase;
}

.welcome__link>a{
  text-decoration: none;
  color: var(--font-color);
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
}

h5, h5>span{
  font-family: 'Raleway';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--font-color);
}

h5>span{
  font-size: 18px;
}

h3{
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

h2{
  font-family: 'Raleway';
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.lorem__about {
  font-family: 'Raleway';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}


.number__lorem>p {
font-family: 'Raleway';
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: center;
color: var(--font-color);
}

.number__lorem>p>span {
  font-family: 'Raleway';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--font-color);
}

.work__uppertext {
  font-family: 'Raleway';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.work__lowertext {
  font-family: 'Raleway';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.accordion {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.john__doe {
  font-family: 'Kaushan Script';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.whoami__container>figure>figcaption {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.whoami__container>figure>figcaption>span {
  font-size: 18px;
  font-weight: 400;
  height: 30px;
  margin-top: 20px;
}

.feedback__profession {
  font-family: 'Raleway';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.feedback__lorem {
  font-family: 'Raleway';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.feedback__text>h4 {
  font-size: 24px;
  line-height: 28px;
}